In [1]:
from datetime import datetime
datetime(year=2019, month=11, day=1)

datetime.datetime(2019, 11, 1, 0, 0)

In [2]:
from dateutil import parser 
date = parser.parse("1st of November 2019")

In [3]:
date.strftime('%A')

'Friday'

In [4]:
import numpy as np
date = np.array('2019-11-01', dtype=np.datetime64)
date

array('2019-11-01', dtype='datetime64[D]')

In [5]:
date + np.arange(10)

array(['2019-11-01', '2019-11-02', '2019-11-03', '2019-11-04',
       '2019-11-05', '2019-11-06', '2019-11-07', '2019-11-08',
       '2019-11-09', '2019-11-10'], dtype='datetime64[D]')

In [6]:
#días
np.datetime64('2019-11-01')

numpy.datetime64('2019-11-01')

In [7]:
#minutos
np.datetime64('2019-11-01 00:00')

numpy.datetime64('2019-11-01T00:00')

In [8]:
import pandas as pd 
date = pd.to_datetime('1st of Nov, 2019')
date

Timestamp('2019-11-01 00:00:00')

In [9]:
date + pd.to_timedelta(np.arange(12), 'D')

DatetimeIndex(['2019-11-01', '2019-11-02', '2019-11-03', '2019-11-04',
               '2019-11-05', '2019-11-06', '2019-11-07', '2019-11-08',
               '2019-11-09', '2019-11-10', '2019-11-11', '2019-11-12'],
              dtype='datetime64[ns]', freq=None)

In [10]:
index = pd.DatetimeIndex(['2019-11-01', '2019-10-01',
                          '2019-11-02', '2019-10-02'])
data = pd.Series([0, 1, 2, 3], index = index)
data

2019-11-01    0
2019-10-01    1
2019-11-02    2
2019-10-02    3
dtype: int64

In [11]:
data['2019-11-01':'2019-11-02']

2019-11-01    0
2019-11-02    2
dtype: int64

In [12]:
data['2019']

2019-11-01    0
2019-10-01    1
2019-11-02    2
2019-10-02    3
dtype: int64

In [13]:
data.to_period('H')

2019-11-01 00:00    0
2019-10-01 00:00    1
2019-11-02 00:00    2
2019-10-02 00:00    3
Freq: H, dtype: int64

In [14]:
#Fangos de fechas
date= pd.date_range('2018-01-01', '2018-06-30')
date

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2018-06-21', '2018-06-22', '2018-06-23', '2018-06-24',
               '2018-06-25', '2018-06-26', '2018-06-27', '2018-06-28',
               '2018-06-29', '2018-06-30'],
              dtype='datetime64[ns]', length=181, freq='D')

In [15]:
#Rangos de fechas por período 
date=pd.date_range('2018-01-01', periods= 181, freq='H')
date

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-08 03:00:00', '2018-01-08 04:00:00',
               '2018-01-08 05:00:00', '2018-01-08 06:00:00',
               '2018-01-08 07:00:00', '2018-01-08 08:00:00',
               '2018-01-08 09:00:00', '2018-01-08 10:00:00',
               '2018-01-08 11:00:00', '2018-01-08 12:00:00'],
              dtype='datetime64[ns]', length=181, freq='H')

In [16]:
#Creación de sucesión de períodos
pd.period_range('2019-01', periods=10, freq='M')

PeriodIndex(['2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
             '2019-07', '2019-08', '2019-09', '2019-10'],
            dtype='period[M]')

In [17]:
#Horas
pd.timedelta_range(0, periods=10, freq='H')

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [18]:
 pd.timedelta_range(0, periods=10, freq='2H30T')

TimedeltaIndex(['0 days 00:00:00', '0 days 02:30:00', '0 days 05:00:00',
                '0 days 07:30:00', '0 days 10:00:00', '0 days 12:30:00',
                '0 days 15:00:00', '0 days 17:30:00', '0 days 20:00:00',
                '0 days 22:30:00'],
               dtype='timedelta64[ns]', freq='150T')

In [19]:
from pandas.tseries.offsets import BDay
pd.date_range('2019-11-01', periods=10, freq=BDay())

DatetimeIndex(['2019-11-01', '2019-11-04', '2019-11-05', '2019-11-06',
               '2019-11-07', '2019-11-08', '2019-11-11', '2019-11-12',
               '2019-11-13', '2019-11-14'],
              dtype='datetime64[ns]', freq='B')

In [20]:
import pandas as pd
url = 'https://raw.githubusercontent.com/hmk88/Tensorflow_Baiscs/master/Vaasa_weather.csv'
df1 = pd.read_csv(url)    #Air temperature
df1= df1.drop('Time (h)', axis=1)
# Import libraries
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
df1.shape

(8761, 1)

In [21]:
df1.head()

   Air temperature1 (degC)
0                      3.6
1                      2.6
2                      2.2
3                      1.8
4                      1.1

In [22]:
date= pd.date_range('2018-10-01', '2019-10-01', freq='1H')
date= pd.Series(date)
at=pd.Series(df1['Air temperature1 (degC)'])

In [23]:
date.shape
at.shape

(8761,)

In [24]:
#df = pd.concat([ at,date], axis=1) 
df = pd.DataFrame({"ds": date, "y": at})
#df = df.set_index('Date')

In [25]:
df = df.set_index('ds')
df.head()

                       y
ds
2018-10-01 00:00:00  3.6
2018-10-01 01:00:00  2.6
2018-10-01 02:00:00  2.2
2018-10-01 03:00:00  1.8
2018-10-01 04:00:00  1.1